repositories:
  - name: bedag
    url: https://bedag.github.io/helm-charts

releases:
  - name: mtproxy
    namespace: mtproxy
    createNamespace: true
    chart: bedag/raw
    version: "2.0.0"
    values:
      - values.yaml.gotmpl


