repositories:
  - name: bedag
    url: https://bedag.github.io/helm-charts

releases:
  - name: logging
    namespace: logging
    createNamespace: true
    chart: bedag/raw
    version: "2.0.0"
    values:
      - ./values.yaml.gotmpl
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "/bin/bash"
        args:
          - "-c"
          - |
            set -e
            kubectl create namespace logging --dry-run=client -o yaml | kubectl apply -f -
